<div class="team-container">


<div class="row">

  <div class="team-img">
        <%= image_tag "team.jpeg" %>
  </div>
  <div class="column" style="background-color:white">
    <h2>Our Team</h2>
    <p>Terzetto, usually referring to a musical composition of three vocals or instruments, was chosen as our agency name to signify a cardinal number that is the sum of one and one and one -- a trio. Us three friends, now co-founders, are a match made in the design industry. We complement each other’s varying skills and expertise in the expansive field of design and service. Combining over 23 years of experience in the graphic design and print industry, over 10 years of expertise in the field of web design, and work exposure in service with an international degree in management, we are a team adept at providing branding and design experience.Terzetto is a cloud-based graphic design, website development, and social media marketing start-up. And our team of creative professionals is accomplished to cater to national and international clients. They are skilled in providing long-term design solutions while adapting to the necessary elements of changing trends. As a collective, our approach to design and development is creative, interactive, and flexible. We are passionate about transforming ideas and thoughts into great quality designs that are attractive, innovative, and gratifying. Instrumental to our work is our ability to blend our competence with ever-evolving strategies to create work that is simple and effective in communicating with your target customers and audience. We believe in making your business distinctive, and we are proficient in weaving brand stories with evoking emotions to forge your brand voice.
This is Terzetto, a trio, us, now let us help you forge your brand voice, your business identity, and your social media presence!

</p>
  </div>
</div>
</div>
