<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-mouse fa-3x mb-4"></i>
          <h4>Web Development</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-hashtag fa-3x mb-4"></i>
          <h4>Digital Marketing</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-building  fa-3x mb-4"></i>
          <h4>Corporate Indentities</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-pencil-alt fa-3x mb-4"></i>
          <h4>Writing</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-laptop-code fa-3x mb-4"></i>
          <h4>Brochures</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-mobile-alt fa-3x mb-4"></i>
          <h4>Outdoor Publicity</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-mobile-alt fa-3x mb-4"></i>
          <h4>Offset/Digital Printing</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-mobile-alt fa-3x mb-4"></i>
          <h4>Inshop Branding</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="ffas fa-newspaper fa-3x mb-4"></i>
          <h4>Newspaper Ads</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>

    </div>
  </div>
</div>
