<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-mouse fa-3x mb-4"></i>
          <h4>Web Development</h4>
          <p>Web development is the work involved in developing a Website for the Internet (World Wide Web) or an intranet (a private network). Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services. A more comprehensive list of tasks to which Web development commonly refers, may include Web Engineering, Web Design, Web Content Development, Client Liaison, Client-side/server-side Scripting, Web Server and Network Security Configuration, and E-commerce Development.</p>
          <a class="readmore" href="/capabilities/readmore"><span>Read More</span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-hashtag fa-3x mb-4"></i>
          <h4>Digital Marketing</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-building  fa-3x mb-4"></i>
          <h4>Corporate Indentities</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-pencil-alt fa-3x mb-4"></i>
          <h4>Writing</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-laptop-code fa-3x mb-4"></i>
          <h4>Brochures</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <!-- <a class="readmore" href="readmore_path"><span>Read More</span></a> -->
            <a class="readmore" href="#"><span>Read More</span></a>

        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-mobile-alt fa-3x mb-4"></i>
          <h4>Outdoor Publicity</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-mobile-alt fa-3x mb-4"></i>
          <h4>Offset/Digital Printing</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-mobile-alt fa-3x mb-4"></i>
          <h4>Inshop Branding</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>
       <div class="col-md-6 col-lg-4 mb-3">
        <div class="box p-5">
          <i class="fas fa-mobile-alt fa-3x mb-4"></i>
          <h4>Newspaper Ads</h4>
          <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
          <a class="readmore" href="#"><span>Read More</span></a>
        </div>
      </div>

    </div>
  </div>
</div>
