
<!-- Contenido principal -->
<main>

  <section class="titles-section">
    <div class="content-wrapper">
      <div class="titles">
        <h2>Creative Solutions</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, itaque.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
  </section>
  <section class="services-section">
    <div class="content-wrapper">
      <div class="services-wrapper">
        <div class="services">
          <div class="service-icon-circle">
            <div class="service-icon"><i class="far fa-comment"></i></div>
          </div>
          <h3>Developing</h3>
          <div class="services-paragraph">
            <p>Web development is the work involved in developing a Website for the Internet (World Wide Web) or an intranet (a private network). Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services. A more comprehensive list of tasks to which Web development commonly refers, may include Web Engineering, Web Design, Web Content Development, Client Liaison, Client-side/server-side Scripting, Web Server and Network Security Configuration, and E-commerce Development.

            </p>
          </div>
        </div>

        <div class="services">
          <div class="service-icon-circle">
            <div class="service-icon"><i class="fas fa-code"></i></div>
          </div>
          <h3>Designing</h3>
          <div class="services-paragraph">
            <p>The word design implies a very vast meaning and has different aspects to its terminology. We are considering the art-related aspect of the word design and have broadly classified it into two parts:

1. Graphic Design: It is a craft where professionals create visual content to communicate messages. By applying visual hierarchy and page layout techniques, designers use typography and pictures to meet users' specific needs and focus on the logic of displaying elements in interactive designs, to optimize the user experience.

2. Web Design: It is a multi-disciplinary job, where you'd need not only knowledge in design (typography, colour theory) but also skills in developing a website (HTML, CSS, JavaScript). Some web designers are also involved in interaction design when they code for animations and interactions using CSS and/or JavaScript.

Design needs to not only deliver pleasure and delight, but must deliver the deep meaning that we know people are seeking.

            </p>
          </div>
        </div>

        <div class="services">
          <div class="service-icon-circle">
            <div class="service-icon"><i class="far fa-window-maximize"></i></div>
          </div>
          <h3>Promotions</h3>
          <div class="services-paragraph">
            <p>Promotion covers the methods of communication that a marketer uses to provide information about its product. Information can be both verbal and visual.

In marketing, promotion refers to any type of marketing communication used to inform target audiences of the relative merits of a product, service, brand or issue, most of the time persuasive in nature. It helps marketers to create a distinctive place in customers' mind, it can be either a cognitive or emotional route. The aim of promotion is to increase awareness, create interest, generate sales or create brand loyalty.

            </p>
          </div>
        </div>

        <div class="services">
          <div class="service-icon-circle">
            <div class="service-icon"><i class="far fa-chart-bar"></i></div>
          </div>
          <h3>Content</h3>
          <div class="services-paragraph">
            <p>Content itself is what the user derives value from. Thus, "content" can refer to the information provided through the medium, the way in which the information was presented, as well as the added features included in the medium in which that information was delivered. In the case of content, the channel through which information is delivered, the "medium", affects how the end user perceives content, the "message".

Another important thing about content, especially when it comes to professional content writing, is the value that you deliver. Unless your content is useful to the readers, it is not going to be useful to you or your brand.
            </p>
          </div>
        </div>
       </div>
     </div>
   </section>
    <div class="portfolio-link">
              <a href="#">View More</a>
            </div>

<footer class="footer-section">
  <div class="content-wrapper">
    <div class="footer-wrapper">

      <div class="left-footer">
        <div class="company-information">
          <h2>SoftGray Inc.</h2>
          <address>
            1600 Amphitheatre Parkway
            Mountain View
            CA 94043
            00-000-0000
            sunrise@sunrise.io
          </address>
          <p>Copyright &copy; 2020 Softgray Inc.</p>
        </div>

        <nav class="footer-nav">
          <ul>
            <li><a href="#" class="selected-page">Products</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="contact">
        <div class="newsletter">
          <h3>Newsletter</h3>
          <input type="email" id="user-email">
          <button>Subscribes</button>
        </div>
        <div class="social-media-icons">
          <h2 class="follow-us">Follow Us</h2>
          <div class="social-icon"><i class="fab fa-facebook"></i></div>
          <div class="social-icon"><i class="fab fa-twitter"></i></div>
          <div class="social-icon"><i class="fab fa-instagram"></i></div>
          <div class="social-icon"><i class="fab fa-linkedin-in"></i></div>
        </div>
      </div>

    </div>
  </div>
</footer>

</main>

