
<!-- Contenido principal -->
<main>

  <section class="titles-section">
    <div class="content-wrapper">
      <div class="titles">
        <h2>Propel your brand with Terzetto</h2>
        <p>At Terzetto, we believe in the power of ideas. We are based in Switzeland and India,
           but we work with clients worldwide. We thrive on making a difference to brands
           and helping companies make powerful audience connections.</p>

      </div>
  </section>
  <section class="services-section">
    <div class="content-wrapper">
      <div class="services-wrapper">
        <div class="services">
          <div class="service-icon-circle">
            <div class="service-icon"><i class="far fa-comment"></i></div>
          </div>
          <h3><%= link_to "Developing" , capabilities_path %></h3>
          <p>A well-designed website can help you form a good impression on your prospective
            customers.It can also help you nurture your leads and get more conversions.</p>

          <div class="services-paragraph">
            <p>
            </p>
          </div>
        </div>

        <div class="services">
          <div class="service-icon-circle">
            <div class="service-icon"><i class="fas fa-code"></i></div>
          </div>
          <h3><%= link_to "Designing" , capabilities_path %></h3>
               <p>People can judge how you will treat them by looking at your website.
                  Your design gives them insight as to how you view your audience. </p>
          <div class="services-paragraph">
            <p>

          </div>
        </div>

        <div class="services">
          <div class="service-icon-circle">
            <div class="service-icon"><i class="far fa-window-maximize"></i></div>
          </div>
         <h3><%= link_to "Promotions" , capabilities_path %></h3>
         <p>Promoting your brand or product will include different aspects of manufacturing,
            promoting and selling products to the customers.
            </p>
          <div class="services-paragraph">
            <p>
            </p>
          </div>
        </div>

        <div class="services">
          <div class="service-icon-circle">
            <div class="service-icon"><i class="far fa-chart-bar"></i></div>
          </div>
         <h3><%= link_to "Content" , capabilities_path %></h3>
         <p> Never underestimate the power of well-written content. It builds a relationship
            with your audience and will keep them coming back to your products.</p>
          <div class="services-paragraph">
            <p>
          </div>
        </div>
       </div>
     </div>
   </section>


