
<!-- Contenido principal -->
<main>

  <section class="titles-section">
    <div class="content-wrapper">
      <div class="titles">
        <h2>Creative Solutions</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, itaque.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
  </section>


  <section class="services-section">
    <div class="content-wrapper">
      <div class="services-wrapper">
        <div class="services">
          <div class="service-icon-circle">
            <div class="service-icon"><i class="far fa-comment"></i></div>
          </div>
          <h3>Consulting</h3>
          <div class="services-paragraph">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quia sit quis odit sequi perferendis ex,
              officia deserunt molestias amet ipsa recusandae sapiente ducimus explicabo, inventore commodi?
            </p>
          </div>
        </div>

        <div class="services">
          <div class="service-icon-circle">
            <div class="service-icon"><i class="fas fa-code"></i></div>
          </div>
          <h3>Developing</h3>
          <div class="services-paragraph">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, ipsum? Nihil aperiam nisi officiis
              quidem exercitationem odio? Cum consectetur officia nulla mollitia. Repellendus aspernatur.
            </p>
          </div>
        </div>

        <div class="services">
          <div class="service-icon-circle">
            <div class="service-icon"><i class="far fa-window-maximize"></i></div>
          </div>
          <h3>Designing</h3>
          <div class="services-paragraph">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et cupiditate rerum id placeat aperiam. Quod
              expedita, commodi omnis maxime eligendi repudiandae. Dolor ad ipsa iusto?
            </p>
          </div>
        </div>

        <div class="services">
          <div class="service-icon-circle">
            <div class="service-icon"><i class="far fa-chart-bar"></i></div>
          </div>
          <h3>Analysis</h3>
          <div class="services-paragraph">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae odio nobis totam harum necessitatibus
              explicabo similique odit nemo. Repellendus, similique. Blanditiis voluptatibus iure.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="portfolio-section">
    <div class="content-wrapper">
      <div class="portfolio-wrapper">
        <div class="portfolio-resume">
          <div class="portfolio-left">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
            <h2>Lorem, ipsum.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat veritatis vero aliquid, impedit maiores
              delectus incidunt aliquam velit, modi voluptates voluptas error quia distinctio ad sunt praesentium?
            </p>
            <div class="portfolio-link">
              <a href="#">View More</a>
            </div>
          </div>
          <div class="portfolio-img">
            <img src="https://cdn.pixabay.com/photo/2020/06/26/13/20/macbook-pro-5342709_1280.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
<footer class="footer-section">
  <div class="content-wrapper">
    <div class="footer-wrapper">

      <div class="left-footer">
        <div class="company-information">
          <h2>SoftGray Inc.</h2>
          <address>
            1600 Amphitheatre Parkway
            Mountain View
            CA 94043
            00-000-0000
            sunrise@sunrise.io
          </address>
          <p>Copyright &copy; 2020 Softgray Inc.</p>
        </div>

        <nav class="footer-nav">
          <ul>
            <li><a href="#" class="selected-page">Products</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="contact">
        <div class="newsletter">
          <h3>Newsletter</h3>
          <input type="email" id="user-email">
          <button>Subscribes</button>
        </div>
        <div class="social-media-icons">
          <h2 class="follow-us">Follow Us</h2>
          <div class="social-icon"><i class="fab fa-facebook"></i></div>
          <div class="social-icon"><i class="fab fa-twitter"></i></div>
          <div class="social-icon"><i class="fab fa-instagram"></i></div>
          <div class="social-icon"><i class="fab fa-linkedin-in"></i></div>
        </div>
      </div>

    </div>
  </div>
</footer>

</main>

