.column {
  color:black;
  float: left;
  width: 45%;
  padding: 10px;
  height: 600px;
  padding-top: 20px;
  margin-top: 30px;

   font-family: quicksand;

}

/* Clear floats after the columns */
.row:after {

  display: table;
  clear: both;
}
 h2{

  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-right: 20%;
 }
p{

  font-family: 'Lato', sans-serif;
  line-height: 200%;
   margin-left: -40px;
   margin-right: 10%;

}

.team-text {

  text-align: center;
  font-size: 30px;
  font-family: quicksand;
  color: #121212;
  padding-bottom: 20px;
 margin-left: 50px;
}

.team-img {
   width: 55%;
  padding: 28px;

  border: solid;



}

.team-container {


}
